.contenedor__principal {
  
    background-color: $color-fondo;
     display:grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(7, auto);
  
    grid-template-areas:
    "header  header"
    "hero  hero"
    "separador separador"
    "imagenes imagenes"
    "principal principal"
    "sucursales_index sucursales_index"
   "footer   footer";
  
  }
  
  
  .header__area {
  grid-area: header;
  }
  
  .hero__contenedor {
    grid-area: hero;
    }
  
    .espacio__separador{
      grid-area:separador;
    }
 
  .seccion__anuncios {
  grid-area: imagenes;
  }
  
  .main__carrousel{
    grid-area:principal;
  }
  
  .sucursales_index{
    grid-area: sucursales_index;
  
  }
    
  .redes__footer {
  grid-area: footer;
  }
  
/*EMPIEZA GRILLA PAGINA NOSOTROS*/

.contenedor__nosotros{
 
  background-color: $color-fondo;
  display:grid;
  grid-template-columns: repeat(2,auto);
  grid-template-rows: repeat(3, auto);

  grid-template-areas:
  "header  header"
  "principal principal"
  "footer   footer";

}


.header {
grid-area: header;
}


.main__nosotros {
grid-area: principal;
}

  
.redes__footer {
grid-area: footer;
}






/*empieza grilla pagina menu*/


.contenedor__menuprincipal {
  background-color: $color-fondo;
  display:grid;
  grid-template-columns: repeat(2,auto);
  grid-template-rows: repeat(3, auto);

  grid-template-areas:
  "header  header"
  "principal principal"
  "footer   footer";

}


.header__area {
  grid-area: header;
  }
  
 
  .menu {
  grid-area: principal;
  }

  .redes__footer{
    grid-area:footer;

      }


      /*inicia grilla sucursales*/
      .contenedor__sucursalprincipal {
        background-color: black;
        display:grid;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(3, auto);
      
        grid-template-areas:
        "header  header"
        "principal principal"
        "footer   footer";
      
      }
      
      
      .header {
        grid-area: header;
        }
        
       
        .sucursales {
        grid-area: principal;
        }
      
        .redes__footer{
          grid-area:footer;
      
            }
      /*EMPIEZA grilla principal contacto*/

.contenedor__contacto {
  background-color:  $color-fondo;
  display:grid;
  grid-template-columns: repeat(2,auto);
  grid-template-rows: repeat(3, auto);

  grid-template-areas:
  "header  header"
  "principal principal"
 "footer   footer";

}


.header__area {
grid-area: header;
}

.formulario1 {
  grid-area: principal;
  }
  

.redes__footer {
grid-area: footer;
}


.titular__contacto {

  font-family: "inherit";
  font-weight: inherit;
  font-size: 3rem;
  text-align: center;
  padding: 20px;
}
.formulario1{
  margin:20px;
}
