.header__area{

    .header__logo {
      max-width: 80%;
    }
.navbar-toggler{
  background-color: $color-terciario;
  border:none;
}
    .header__list {
      display: flex;
      list-style: none;
      
        /*justify-content: flex-end;*/

        .header__Item {
          border: 15px;
          margin: 0px 6px;
          border-bottom: 1px solid $color-terciario;
         
          
          
          .header__link{
            font-family: 'Roboto', sans-serif;
          font-weight: 300 bold;
          
              color: #F28705;
             
              font-size: 0.8rem;
            }
            
                          .header__link:hover {
                            transform: scale(1.2);
                            background-color: #F28705;
                            color: white;
                          }
            

              
        }


     
          }
 
  
    }