
/*main index*/

@import "./variables";



  .hero__contenedor {
 
    background-image: url(../assets/principal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;

    /* width: 100vh; */
  
      .hero{
       
      
        display: flex;
        flex-direction: column;
        justify-content: center;
     
          
         
           &__titular{
            font-family: 'Roboto', sans-serif;
            color: white;
            font-size: 50px bold;
            text-align: center;
            font-weight: 300;
                   }
             &__parrafo{
              font-family: 'Roboto', sans-serif;
            font-weight: 300 ;
            color: white;
            font-size: map-get($sizes1, parrafos );
                    }
  &__boton{
           
    font-family: 'Roboto', sans-serif;
            font-weight: 100;
            width: 180px;
            height: auto;
            color:$color-terciario ;
            background-color: white;
            border: none;
            padding: 15px 32px;
            text-align: center;
            border-radius: 10px;
            
            }
            &__boton:hover {
              transform: scale(1.2);
              background-color: #F28705;
              color: white;
            }
                      .contenedor2{
                        background-color:$color-terciario;
                        opacity: 0.8;
                      }
}

.linea__separador{
  display: block;
  color:white;
  height: 10px;
}
  }
 

.seccion__anuncios{
padding-top: 20px;
background-color: black;
padding-bottom: 20px;

.seccion__titular{
  text-align: center;
  color: $color-terciario;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;

}

.card{
  
  height: 100%;
  border-radius: 100px;
  .card-text{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    background-color:white;
    font-weight: 300 bold;
   
  }

  .main__imagen2{
    border-radius: 80px;
  }
  .btn{
    border:none;
    width: 200px;
    border-radius: 15px;
    background-color: $color-terciario;
    
  }
  .card-title{
    text-align: center;
  }
}

}

.main__carrousel{
  .galeria__titular{
    text-align: center;
    color:$color-terciario;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }

}
  .galeria__contenedor{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 280px;
    gap:10px;

  

  .galeria__item:nth-child(4){
    grid-row-start: span 2;
  }

  .galeria__item:nth-child(6){
    grid-row-start: span 2;
  }

  .galeria__item:nth-child(8){
    grid-column-start: span 3;
  }

  .galeria__item:nth-child(9){
    grid-column-start: span 3;
  }
 

 
   
 .galeria__img{
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
}




.sucursales_index{
   padding-top: 50px ;
    margin-bottom: 50px;
   text-align: center;
    
    .sucursales__titular{
      font-family: 'Roboto', sans-serif;
        text-align: center;
        color: $color-terciario;
        font-weight: 300 bold;
        padding-bottom: 10px;
      
      }
      .boton__sucursal{
        background-color: $color-terciario;
        border:none;
      }
  }
  
  
  /*EMPIEZA MAIN  NOSOTROS */


.main__nosotros{
  margin-top: 10px;
  margin-bottom: 10px;
}
.descripcion{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color:$color-terciario;
  &__titular {
   
    @extend .descripcion;
    text-align: center;
    font-size: 2rem;
    color:white;
  }
  &__contenido {
    @extend .descripcion;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
   text-align: justify;
   font-size:1rem;
   
  }
}
  
 
  .imagen__nosotros {
    margin-top: 20px;
    display: block;
    margin: auto;
    width: 50%;
  }
  
/*PRINCIPAL SECCION MENU*/
/*principal de pagina menu*/


.menu {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: $color-terciario;


  &__titular {
  
    @extend .menu;
  margin: 20px;
    padding: 20px;
    display: block;
    text-align: center;
    

  }
  &__parrafo {

    @extend .menu;
    border: 30px;
   text-align: justify;
    
    font-size: 1.2rem;
 
  
  
}

  .grid__menu{
    /* Grid de 3cx4r */
    display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(2,1fr);
gap:6vh 2vh;
justify-content: center;

.listado{
  display: flex;
  flex-direction: column;
}
.texto__menu{
  font-family: 'Roboto', sans-serif;
  display: inline;
  text-align: center;
  color: #f285c1;
  
 
  text-align: center;
  line-height: 2;
  font-size: 1.5rem;
  text-transform: capitalize;

}
.imagen_menu{
  width: 100%;
  margin: 0 auto;
}


}
.table{
  font-family: 'Roboto', sans-serif;
  color:white;
  font-weight: 100;
}


} 



/*principal SECCION SUCURSALES*/


.contenedor__sucursales {
  display: flex;
  flex-direction:row;
  
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /*  color: white;*/
  font-size: 1.5rem;
  margin: 30px;

  .titular__sucursal {
    text-align: center;
     color:$color-terciario;
  }
}

.contenedor__sucursal1 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  .sucursal1__texto{
    margin-right: 15px;
  }
}




.contenedor__sucursal2 {
  display: flex;
  justify-content:center;
  margin-top: 100px;
  
  .sucursal2__texto{
    margin-right: 15px;
  }
}




.ubicacion {
  color: #04ADBF;
}

  /*PRINCIPAL SECCION CONTACTO-FORMULARIO*/
  
  .formulario1{
    align-items: center;
    padding-bottom: 100px;
    .titular__contacto{
      display: block;
      font-family: 'Roboto', sans-serif;
      font-weight: 10;
      font-size: 3rem;
      text-align: center;
      padding: 20PX;
      color:$color-terciario;

    }
    
    .parrafo__descripcion{
      color: $color-secundario;
      .parrafo__contacto{
           
            text-align: justify;
            font-family: 'Roboto', sans-serif;
            font-weight: 100;
            color: $color-terciario;
    }

  }
           
  .formulario__contacto {
               
                
                /*background-color:#B4D9B6;*/
                background-image: linear-gradient(to left bottom, #6fbfbf, #6cbfbd, #69bfbb, #66bfb9, #63bfb6);
          
                border-radius: 20px;
                 border:solid 3px;
               font-weight: 300;
                color: white;}

          
               
                .contact-image{
                  text-align: center;
            
                
                  .form-group{
                    
                    padding-bottom: 5px;
                    
                      .form-control{
                      border-radius: 10px;
                    
                    }
                }
                  }
                 
              }
            
              .contact-image img{
                border-radius: 6rem;
                width: 11%;
                margin-top: -4%;
                transform: rotate(29deg);
        
            }
              
            .boton_contacto{
              width: 50%;
            border-radius: 1rem;
            padding: 1.5%;
            color: #fff;
            background-color: #0062cc;
            border: none;
            cursor: pointer;
            align-items: center;
              
            }  
            
        
                input{
              padding: 5px;
              margin: 5px;
              width: 80px;
            }
           
        
          