@import "./css/parciales/variables";


@media only screen and (min-width: 320px) and (max-width:767px){
  
   .menu{
     
   .grid__menu{
@include center-row;
}
}

.galeria__contenedor{
  @include center-row;
}
.sucursales{
.contenedor__sucursal1{
  @include  center-row;
}
.contenedor__sucursal2{
  @include center-row;
}
}

.header__list2{
  @include center-column;
  
}
}