@import "./css/parciales/variables";


@media only screen and (min-width: 320px) and (max-width:768px){
   /* Grid de 3cx4r */
   
   .menu{
     
   .grid__menu{
@include center-row;
}
}

.sucursales{
.contenedor__sucursal1{
  @include  center-row;
}
.contenedor__sucursal2{
  @include center-row;
}
}
}