$color-fondo:black;
$color-primario:#03A6A6;
$color-secundario:#D91A83;
$color-terciario:#F28705;

 

 
$sizes1: (
    "titulares": 28px,
    "parrafos":  20px,
    "espacios": 16px,
    "botones": 14px,
  
  );
  
  
  @mixin center-row{
	display:flex;
	flex-direction:column;
	justify-content:center;
}

@mixin center-column{
  display:flex;
  flex-direction: row;
  justify-content: start;
}