* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.contenedor__principal {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(7, auto);
  grid-template-areas: "header  header" "hero  hero" "separador separador" "imagenes imagenes" "principal principal" "sucursales_index sucursales_index" "footer   footer"; }

.header__area {
  grid-area: header; }

.hero__contenedor {
  grid-area: hero; }

.espacio__separador {
  grid-area: separador; }

.seccion__anuncios {
  grid-area: imagenes; }

.main__carrousel {
  grid-area: principal; }

.sucursales_index {
  grid-area: sucursales_index; }

.redes__footer {
  grid-area: footer; }

/*EMPIEZA GRILLA PAGINA NOSOTROS*/
.contenedor__nosotros {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header  header" "principal principal" "footer   footer"; }

.header {
  grid-area: header; }

.main__nosotros {
  grid-area: principal; }

.redes__footer {
  grid-area: footer; }

/*empieza grilla pagina menu*/
.contenedor__menuprincipal {
  background-color: black;
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header  header" "principal principal" "footer   footer"; }

.header {
  grid-area: header; }

.menu, .menu__titular, .menu__parrafo {
  grid-area: principal; }

.redes__footer {
  grid-area: footer; }

/*inicia grilla sucursales*/
.contenedor__sucursalprincipal {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header  header" "principal principal" "footer   footer"; }

.header {
  grid-area: header; }

.sucursales {
  grid-area: principal; }

.redes__footer {
  grid-area: footer; }

/*EMPIEZA grilla principal contacto*/
.contenedor__contacto {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header  header" "principal principal" "footer   footer"; }

.header__area {
  grid-area: header; }

.formulario1 {
  grid-area: principal; }

.redes__footer {
  grid-area: footer; }

.titular__contacto {
  display: block;
  font-family: "inherit";
  font-weight: inherit;
  font-size: 3rem;
  text-align: center;
  padding: 20px; }

.formulario1 {
  margin: 20px; }

.header__area .header__logo {
  max-width: 100%; }

.header__area .navbar-toggler {
  background-color: #F28705;
  border: none; }

.header__area .header__list {
  display: flex;
  list-style: none;
  /*justify-content: flex-end;*/ }
  .header__area .header__list .header__Item {
    border: 15px;
    margin: 0px 6px;
    border-bottom: 1px solid #F28705; }
    .header__area .header__list .header__Item .header__link {
      color: #F28705;
      font-weight: 300 bold;
      font-size: 0.8rem; }

/*main index*/
.hero__contenedor {
  display: flex;
  flex-direction: column;
  background-image: url("../assets/portada_anuncio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  min-height: 90vh;
  /* width: 100vh; */ }
  .hero__contenedor .hero {
    padding-top: 380px; }
    .hero__contenedor .hero__titular {
      font-family: "Open Sans";
      color: white;
      font-size: 50px bold; }
    .hero__contenedor .hero__parrafo {
      font-family: "Open Sans";
      font-weight: 400;
      color: white;
      font-size: 18px; }
    .hero__contenedor .hero__boton {
      display: flex;
      font-family: "Open Sans";
      font-weight: 400;
      width: 200px;
      color: white;
      background-color: #F28705;
      border: none;
      padding: 15px 32px;
      text-align: center;
      border-radius: 10px; }
  .hero__contenedor .linea__separador {
    display: block;
    color: white;
    height: 10px; }

.seccion__anuncios {
  padding-top: 20px;
  background-color: black;
  padding-bottom: 20px; }
  .seccion__anuncios .seccion__titular {
    text-align: center;
    color: #F28705;
    margin-bottom: 15px;
    font-family: "Open Sans"; }
  .seccion__anuncios .card {
    background-color: white;
    height: 100%; }
    .seccion__anuncios .card .card-text {
      font-size: 12px; }
    .seccion__anuncios .card .btn {
      border: none;
      border-radius: 15px;
      background-color: #F28705; }
    .seccion__anuncios .card .card-title {
      text-align: center; }

.main__carrousel {
  width: 60%;
  padding-bottom: 20px; }
  .main__carrousel .main__titular {
    color: #F28705;
    font-family: "Open Sans";
    text-align: center;
    padding-bottom: 20px; }
  .main__carrousel .hero__imagen {
    width: 100%; }

.sucursales_index {
  padding-top: 50px;
  margin-bottom: 50px;
  text-align: center; }
  .sucursales_index .sucursales__titular {
    text-align: center;
    color: white;
    font-family: "Open Sans";
    padding-bottom: 10px; }
  .sucursales_index .boton__sucursal {
    background-color: #F28705;
    border: none; }

/*EMPIEZA MAIN  NOSOTROS */
.main__nosotros {
  margin-top: 10px;
  margin-bottom: 10px; }

.descripcion, .descripcion__titular, .descripcion__contenido {
  font-family: "Open Sans";
  font-size: 20px;
  color: #03A6A6; }
  .descripcion__titular {
    text-align: center;
    font-size: 2rem; }
  .descripcion__contenido {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    font-size: 1rem; }

.imagen__nosotros {
  margin-top: 20px;
  display: block;
  margin: auto;
  width: 50%; }

/*PRINCIPAL SECCION MENU*/
/*principal de pagina menu*/
.menu, .menu__titular, .menu__parrafo {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans";
  color: #D91A83; }
  .menu__titular {
    width: 100%;
    margin: 20px;
    padding: 20px;
    display: block;
    text-align: center; }
  .menu__parrafo {
    border: 30px;
    text-align: justify;
    line-height: 2;
    font-size: 1.2rem; }
  .menu .grid__menu, .menu__titular .grid__menu, .menu__parrafo .grid__menu {
    /* Grid de 3cx4r */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 6vh 2vh;
    justify-content: center; }
    .menu .grid__menu .listado, .menu__titular .grid__menu .listado, .menu__parrafo .grid__menu .listado {
      display: flex;
      flex-direction: column; }
    .menu .grid__menu .texto__menu, .menu__titular .grid__menu .texto__menu, .menu__parrafo .grid__menu .texto__menu {
      display: inline;
      text-align: center;
      color: #f285c1;
      font-family: "inherit";
      font-weight: inherit;
      text-align: center;
      line-height: 2;
      font-size: 1.5rem;
      text-transform: capitalize; }
    .menu .grid__menu .imagen_menu, .menu__titular .grid__menu .imagen_menu, .menu__parrafo .grid__menu .imagen_menu {
      width: 100%;
      margin: 0 auto; }
    .menu .grid__menu .button__menu, .menu__titular .grid__menu .button__menu, .menu__parrafo .grid__menu .button__menu {
      width: 150px;
      justify-self: center;
      display: flex;
      align-items: center;
      justify-content: center; }

/*principal SECCION SUCURSALES*/
.contenedor__sucursales {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /*  color: white;*/
  font-size: 1.5rem;
  margin: 30px; }
  .contenedor__sucursales .titular__sucursal {
    text-align: center;
    color: #F28705; }

.contenedor__sucursal1 {
  display: flex;
  justify-content: center;
  margin-top: 50px; }
  .contenedor__sucursal1 .sucursal1__texto {
    margin-right: 15px; }

.contenedor__sucursal2 {
  display: flex;
  justify-content: center;
  margin-top: 100px; }
  .contenedor__sucursal2 .sucursal2__texto {
    margin-right: 15px; }

.ubicacion {
  color: #04ADBF; }

/*PRINCIPAL SECCION CONTACTO-FORMULARIO*/
.formulario1 {
  align-items: center;
  padding-bottom: 100px; }
  .formulario1 .titular__contacto {
    display: block;
    font-family: 'inherit';
    font-weight: inherit;
    font-size: 3rem;
    text-align: center;
    padding: 20PX;
    color: #F2B3D6; }
  .formulario1 .parrafo__descripcion {
    color: #D91A83; }
    .formulario1 .parrafo__descripcion .parrafo__contacto {
      text-align: justify;
      line-height: 2;
      font-weight: 300;
      color: #D91A83; }
  .formulario1 .formulario__contacto {
    align-items: center;
    /*background-color:#B4D9B6;*/
    background-image: linear-gradient(to left bottom, #6fbfbf, #6cbfbd, #69bfbb, #66bfb9, #63bfb6);
    border-radius: 20px;
    border: solid 3px;
    font-weight: 300;
    color: white; }
  .formulario1 .contact-image {
    text-align: center; }
    .formulario1 .contact-image .form-group {
      padding-bottom: 5px; }
      .formulario1 .contact-image .form-group .form-control {
        border-radius: 10px; }

.contact-image img {
  border-radius: 6rem;
  width: 11%;
  margin-top: -4%;
  transform: rotate(29deg); }

.boton_contacto {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
  align-items: center; }

input {
  padding: 5px;
  margin: 5px;
  width: 80px; }

.redes__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F28705; }
  .redes__footer .contenedor__footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: #F28705; }
  .redes__footer .header__list2 {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-weight: 400; }
    .redes__footer .header__list2 .footer__link {
      /*background-color: lightseagreen;*/
      font-weight: bold  400;
      color: white;
      text-decoration: none;
      padding-right: 40px;
      background-color: #F28705; }
  .redes__footer .social__media {
    background-color: #F28705; }
    .redes__footer .social__media .social__titulo {
      margin: 5px;
      text-align: center;
      color: #7E9BF2;
      font-weight: 300 bold; }
      .redes__footer .social__media .social__titulo .social__boton {
        margin: 5px;
        text-align: center;
        color: #7E9BF2;
        font-weight: 300 bold; }
  .redes__footer .social__copyright {
    background-color: #F28705;
    width: 100%; }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  /* Grid de 3cx4r */
  .menu .grid__menu, .menu__titular .grid__menu, .menu__parrafo .grid__menu {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .sucursales .contenedor__sucursal1 {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .sucursales .contenedor__sucursal2 {
    display: flex;
    flex-direction: column;
    justify-content: center; } }
