* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.contenedor__principal {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(7, auto);
  grid-template-areas: "header  header" "hero  hero" "separador separador" "imagenes imagenes" "principal principal" "sucursales_index sucursales_index" "footer   footer"; }

.header__area {
  grid-area: header; }

.hero__contenedor {
  grid-area: hero; }

.espacio__separador {
  grid-area: separador; }

.seccion__anuncios {
  grid-area: imagenes; }

.main__carrousel {
  grid-area: principal; }

.sucursales_index {
  grid-area: sucursales_index; }

.redes__footer {
  grid-area: footer; }

/*EMPIEZA GRILLA PAGINA NOSOTROS*/
.contenedor__nosotros {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header  header" "principal principal" "footer   footer"; }

.header {
  grid-area: header; }

.main__nosotros {
  grid-area: principal; }

.redes__footer {
  grid-area: footer; }

/*empieza grilla pagina menu*/
.contenedor__menuprincipal {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header  header" "principal principal" "footer   footer"; }

.header__area {
  grid-area: header; }

.menu, .menu__titular, .menu__parrafo {
  grid-area: principal; }

.redes__footer {
  grid-area: footer; }

/*inicia grilla sucursales*/
.contenedor__sucursalprincipal {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header  header" "principal principal" "footer   footer"; }

.header {
  grid-area: header; }

.sucursales {
  grid-area: principal; }

.redes__footer {
  grid-area: footer; }

/*EMPIEZA grilla principal contacto*/
.contenedor__contacto {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header  header" "principal principal" "footer   footer"; }

.header__area {
  grid-area: header; }

.formulario1 {
  grid-area: principal; }

.redes__footer {
  grid-area: footer; }

.titular__contacto {
  font-family: "inherit";
  font-weight: inherit;
  font-size: 3rem;
  text-align: center;
  padding: 20px; }

.formulario1 {
  margin: 20px; }

.header__area .header__logo {
  max-width: 80%; }

.header__area .navbar-toggler {
  background-color: #F28705;
  border: none; }

.header__area .header__list {
  display: flex;
  list-style: none;
  /*justify-content: flex-end;*/ }
  .header__area .header__list .header__Item {
    border: 15px;
    margin: 0px 6px;
    border-bottom: 1px solid #F28705; }
    .header__area .header__list .header__Item .header__link {
      font-family: 'Roboto', sans-serif;
      font-weight: 300 bold;
      color: #F28705;
      font-size: 0.8rem; }
    .header__area .header__list .header__Item .header__link:hover {
      transform: scale(1.2);
      background-color: #F28705;
      color: white; }

/*main index*/
.hero__contenedor {
  background-image: url(../assets/principal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  /* width: 100vh; */ }
  .hero__contenedor .hero {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .hero__contenedor .hero__titular {
      font-family: 'Roboto', sans-serif;
      color: white;
      font-size: 50px bold;
      text-align: center;
      font-weight: 300; }
    .hero__contenedor .hero__parrafo {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      color: white;
      font-size: 20px; }
    .hero__contenedor .hero__boton {
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      width: 180px;
      height: auto;
      color: #F28705;
      background-color: white;
      border: none;
      padding: 15px 32px;
      text-align: center;
      border-radius: 10px; }
    .hero__contenedor .hero__boton:hover {
      transform: scale(1.2);
      background-color: #F28705;
      color: white; }
    .hero__contenedor .hero .contenedor2 {
      background-color: #F28705;
      opacity: 0.8; }
  .hero__contenedor .linea__separador {
    display: block;
    color: white;
    height: 10px; }

.seccion__anuncios {
  padding-top: 20px;
  background-color: black;
  padding-bottom: 20px; }
  .seccion__anuncios .seccion__titular {
    text-align: center;
    color: #F28705;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif; }
  .seccion__anuncios .card {
    height: 100%;
    border-radius: 100px; }
    .seccion__anuncios .card .card-text {
      font-size: 15px;
      font-family: 'Roboto', sans-serif;
      background-color: white;
      font-weight: 300 bold; }
    .seccion__anuncios .card .main__imagen2 {
      border-radius: 80px; }
    .seccion__anuncios .card .btn {
      border: none;
      width: 200px;
      border-radius: 15px;
      background-color: #F28705; }
    .seccion__anuncios .card .card-title {
      text-align: center; }

.main__carrousel .galeria__titular {
  text-align: center;
  color: #F28705;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

.galeria__contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 280px;
  gap: 10px; }
  .galeria__contenedor .galeria__item:nth-child(4) {
    grid-row-start: span 2; }
  .galeria__contenedor .galeria__item:nth-child(6) {
    grid-row-start: span 2; }
  .galeria__contenedor .galeria__item:nth-child(8) {
    grid-column-start: span 3; }
  .galeria__contenedor .galeria__item:nth-child(9) {
    grid-column-start: span 3; }
  .galeria__contenedor .galeria__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.sucursales_index {
  padding-top: 50px;
  margin-bottom: 50px;
  text-align: center; }
  .sucursales_index .sucursales__titular {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #F28705;
    font-weight: 300 bold;
    padding-bottom: 10px; }
  .sucursales_index .boton__sucursal {
    background-color: #F28705;
    border: none; }

/*EMPIEZA MAIN  NOSOTROS */
.main__nosotros {
  margin-top: 10px;
  margin-bottom: 10px; }

.descripcion, .descripcion__titular, .descripcion__contenido {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #F28705; }
  .descripcion__titular {
    text-align: center;
    font-size: 2rem;
    color: white; }
  .descripcion__contenido {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    font-size: 1rem; }

.imagen__nosotros {
  margin-top: 20px;
  display: block;
  margin: auto;
  width: 50%; }

/*PRINCIPAL SECCION MENU*/
/*principal de pagina menu*/
.menu, .menu__titular, .menu__parrafo {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: #F28705; }
  .menu__titular {
    margin: 20px;
    padding: 20px;
    display: block;
    text-align: center; }
  .menu__parrafo {
    border: 30px;
    text-align: justify;
    font-size: 1.2rem; }
  .menu .grid__menu, .menu__titular .grid__menu, .menu__parrafo .grid__menu {
    /* Grid de 3cx4r */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 6vh 2vh;
    justify-content: center; }
    .menu .grid__menu .listado, .menu__titular .grid__menu .listado, .menu__parrafo .grid__menu .listado {
      display: flex;
      flex-direction: column; }
    .menu .grid__menu .texto__menu, .menu__titular .grid__menu .texto__menu, .menu__parrafo .grid__menu .texto__menu {
      font-family: 'Roboto', sans-serif;
      display: inline;
      text-align: center;
      color: #f285c1;
      text-align: center;
      line-height: 2;
      font-size: 1.5rem;
      text-transform: capitalize; }
    .menu .grid__menu .imagen_menu, .menu__titular .grid__menu .imagen_menu, .menu__parrafo .grid__menu .imagen_menu {
      width: 100%;
      margin: 0 auto; }
  .menu .table, .menu__titular .table, .menu__parrafo .table {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 100; }

/*principal SECCION SUCURSALES*/
.contenedor__sucursales {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /*  color: white;*/
  font-size: 1.5rem;
  margin: 30px; }
  .contenedor__sucursales .titular__sucursal {
    text-align: center;
    color: #F28705; }

.contenedor__sucursal1 {
  display: flex;
  justify-content: center;
  margin-top: 50px; }
  .contenedor__sucursal1 .sucursal1__texto {
    margin-right: 15px; }

.contenedor__sucursal2 {
  display: flex;
  justify-content: center;
  margin-top: 100px; }
  .contenedor__sucursal2 .sucursal2__texto {
    margin-right: 15px; }

.ubicacion {
  color: #04ADBF; }

/*PRINCIPAL SECCION CONTACTO-FORMULARIO*/
.formulario1 {
  align-items: center;
  padding-bottom: 100px; }
  .formulario1 .titular__contacto {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 10;
    font-size: 3rem;
    text-align: center;
    padding: 20PX;
    color: #F28705; }
  .formulario1 .parrafo__descripcion {
    color: #D91A83; }
    .formulario1 .parrafo__descripcion .parrafo__contacto {
      text-align: justify;
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      color: #F28705; }
  .formulario1 .formulario__contacto {
    /*background-color:#B4D9B6;*/
    background-image: linear-gradient(to left bottom, #6fbfbf, #6cbfbd, #69bfbb, #66bfb9, #63bfb6);
    border-radius: 20px;
    border: solid 3px;
    font-weight: 300;
    color: white; }
  .formulario1 .contact-image {
    text-align: center; }
    .formulario1 .contact-image .form-group {
      padding-bottom: 5px; }
      .formulario1 .contact-image .form-group .form-control {
        border-radius: 10px; }

.contact-image img {
  border-radius: 6rem;
  width: 11%;
  margin-top: -4%;
  transform: rotate(29deg); }

.boton_contacto {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
  align-items: center; }

input {
  padding: 5px;
  margin: 5px;
  width: 80px; }

.redes__footer {
  background-color: #F28705; }
  .redes__footer .contenedor__footer {
    background-color: #F28705; }
    .redes__footer .contenedor__footer .header__list2 {
      list-style: none;
      font-weight: 400;
      font-size: 16px;
      padding-top: 10px; }
      .redes__footer .contenedor__footer .header__list2 .footer__link {
        /*background-color: lightseagreen;*/
        font-family: 'Roboto', sans-serif;
        font-weight: bold  100;
        color: white;
        text-decoration: none;
        padding-right: 25px;
        background-color: #F28705; }
    .redes__footer .contenedor__footer .social__ubicacion {
      font-family: 'Roboto', sans-serif; }
    .redes__footer .contenedor__footer .social__logo {
      background-color: #F28705; }
      .redes__footer .contenedor__footer .social__logo .footer__logo {
        max-width: 80%; }
      .redes__footer .contenedor__footer .social__logo .social__redes .social__titulo {
        margin: 5px;
        font-family: 'Roboto', sans-serif;
        font-weight: 100; }
        .redes__footer .contenedor__footer .social__logo .social__redes .social__titulo .social__boton {
          margin: 5px;
          text-align: center;
          font-family: 'Roboto', sans-serif;
          font-weight: 100 bold; }

/*   .social__copyright{
        background-color: #F28705;
        width: 100%;
       
      }
          
  }
}*/
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .menu .grid__menu, .menu__titular .grid__menu, .menu__parrafo .grid__menu {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .galeria__contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .sucursales .contenedor__sucursal1 {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .sucursales .contenedor__sucursal2 {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .header__list2 {
    display: flex;
    flex-direction: row;
    justify-content: start; } }
