
 
 @import"./css/parciales/variables";
 @import "./css/parciales/reset";
  @import "./css/parciales/grillasbody";
  @import "./css/parciales/header";
  @import "./css/parciales/principal";
  @import "./css/parciales/footer";
  
 
 
  
    
  
  
  
  
  